body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
    background: rgb(68,9,121);
    background: linear-gradient(90deg, rgba(68,9,121,1) 0%, rgba(35,72,116,1) 81%, rgba(37,40,115,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}